{% extends 'base.html.twig' %}

    {% block title %}{{ 'category'|trans }} {{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ 'All programs of category'|trans }} {{ category.name}} </h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }}-{{ program.title }}</h2>
            <p>{{ program.summary }}</p>
            <a class="btn btn-secondary" href="{{ path("program_show", { slug: program.slug }) }}">{{ 'look'|trans }}</a>
        </div>
        {% else %}
            {{ 'not programs found for category'|trans }} {{ category.name }}.
    {% endfor %}
    <a class="btn btn-primary" href="{{ path('app_index') }}">{{ 'return accueil'|trans }}</a>
{% endblock %}
