{% extends 'base.html.twig' %}

{% block body %}
        <h1>{{ 'episode\'s list'|trans }} {{ season.number}} {{ 'of'|trans }} {{ program.title }}</h1>
        <h2>Épisode {{ episode.number }} {{ episode.title }}</h2>
        <p>{{ episode.summary }}</p>
        <h3>{{ 'comments'|trans }}</h3>
        {% for comment in episode.comments %}
                <div class="container-fluid">
                        <div class="card">
                                <p>{{ 'author'|trans }}: {{ comment.author.email }}</p>
                                <p>{{ 'comment'|trans }}: {{ comment.comment }}</p>
                                <p>{{ 'rate'|trans }} : {{ comment.rate }}</p>
                                {% if app.user %}
                                        {% if is_granted("ROLE_ADMIN") or app.user.email == comment.author.email %}
                                                {{ include('program/_delete_comment.html.twig') }}
                                        {% endif %}
                                {% endif %}
                        </div>
                </div>
        {% endfor %}
        <h3>{{ 'add comment'|trans }}</h3>
        {% if app.user %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-secondary">{{ 'send'|trans }}</button>
                {{ form_end(form) }}
        {% else %}
                <a href="{{ path('app_login') }}">{{ 'sign_in'|trans }}</a>
        {% endif %}
{% endblock %}
