{% extends 'base.html.twig' %}

{% block title %}{{ 'all programs'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'all programs'|trans }}</h1>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>{{ 'search'|trans }}</button>
        {{ form_end(form) }}
    </div>
    <div>{{ app.session.get('total') }}</div>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - {{ 'category'|trans }} : {{ program.category.name }}
                {% if app.user %}
                    <i id="watchlistIcon" class="watchlist {{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart"></i>
                {% endif %}</h2>
            <p>{{ program.summary }}</p>
            <a class="btn btn-secondary" href="{{ path("program_show", { 'slug': program.slug }) }}">{{ 'look'|trans }}</a>
        </div>
    {% else %}
        {{ 'programs not found'|trans }}
    {% endfor %}
    <a class="btn btn-secondary" href="{{ path('program_new') }}">{{ 'add program'|trans }}</a>

    <a class="btn btn-primary" href="{{ path('app_index') }}">{{ 'return accueil'|trans }}</a>
{% endblock %}
