{% extends 'base.html.twig' %}

{% block title %}{{ 'serie'|trans }} #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}
                {% if app.user %}
                    <a id="watchlist">
                        <i id="watchlistIcon" class="{{ app.user.isInWatchlist(program) ? 'fas' : 'far' }} fa-heart watchlist" data-href="{{ path("program_watchlist", { id: program.id}) }}"></i>
                    </a>
                {% endif %}</h1>
            <p>{{ program.summary }}</p>
            <p>{{ 'category'|trans }} : {{ program.category.name }}</p>
            <h2>{{ 'list season'|trans }}</h2>
            <ul>
            {% for season in seasons %}
                <li><a class="btn btn-secondary" href="{{ path('program_season_show', {program_slug: program.slug, seasonId: season.id}) }}">{{ 'season'|trans }} {{ season.number }}</a></li>
            {% endfor %}
            </ul>
            <h2>{{ 'actor'|trans }}</h2>
            <ul>
                {% for actor in program.actors %}
                    <li><p><a href="{{ path("actor_show", { id: actor.id }) }}" >{{ actor.name }}</a></p> </li>
                {% else %}
                    <li>{{ 'actor not found'|trans }}</li>
                {% endfor %}
            </ul>
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btn btn-secondary" href="{{ path('program_edit', { 'slug': program.slug} ) }}">{{ 'edit'|trans }}</a>
            {%endif%}
            <a class="btn btn-primary" href="{{ path('program_index') }}">{{ 'return list programs'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('watchlist') }}
    {{ parent() }}
{% endblock %}
