<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/favicon.ico') }}"/>
        <title>{% block title %}{{ 'welcome'|trans }}!{% endblock %}</title>
        <link rel="stylesheet" href="/build/app.css">
        <script src="https://kit.fontawesome.com/fed12f4e3a.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include 'include/_navbar.html.twig' %}
    </header>
    {% block messageflash %}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('global') }}
        {% endblock %}
        <script src="/build/app.js"></script>
    </body>
</html>
